#formulario{
    margin-top: 100px;
    width: 30%;
    border: 2px solid black;
    border-radius: 1px;
    margin: 0 auto;
    padding: 2%;
}
#formulario div{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
fieldset{
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px; 
}
button{
    margin-top: 10px;
}
form p{
    color: red;
}
.valido{
    color: green;
}
