@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
        
body {
    color: #181818;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* background-image:url(../img/Pokemon-1-800x433.png); */
    /* background-image:url(../img/OIP.jpg); */
    background-color: black;
    background-size:auto;
}
p {
    margin: 0;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.card {
    background: linear-gradient(60deg, yellow, whitesmoke 45%, yellow);
    border-radius: 14px;
    box-shadow: 2px 2px 10px gray;
    padding: 15px;
    width: 400px;
}

.inner-card {
    box-shadow: inset 0 0 10px #898989;
    box-sizing: border-box;
    height: 100%;
    padding: 5px;

}

.header {
    display: flex;
    font-size: 24px;
    height: 25px;
    justify-content:space-between;            
}

.header .title {
    margin-left: 12px;            
}

.header .hp {
    display: flex;
    font-size: 12px;
    margin-right: 12px;
}

.sub {
    font-size: 10px;
}

.level-number {
    font-size: 16px;
}        

.life {
    font-size: 20px;
}

.header img {
    border-radius: 50%;       
    box-shadow: 1px 1px 2px #898989;
    height: 20px;     
    width: 20px;
    margin-left: 3px;
}

.image {
    margin: 10px;
    border: 3px; 
}

.image img {
    /* border: 3px solid whitesmoke;              */
    box-sizing: border-box;
    /* width: 100%; */
    width: 50%;
    object-fit: cover;
    transition: all 0.3s ease;
    /* backface-visibility: hidden; */
    
}
.card:hover .image img{
    width: 20rem;
    margin-top: -6.2rem;
    position: relative;
    z-index: 50;
    transform: rotate(-15deg);
}

.skill-container{
    margin-left: 10px;
    margin-right: 10px;
}

.skill-container:nth-child(2n){
    margin-top: 20px;
}
.skill {
    display: flex;
    font-size: 20px;
    height: 30px;     
    justify-content: space-between;       
}

.skill > div {
    width: 33%;
}

.skill .skill-cost {
    text-align: right;
}

.skill_text {
    font-weight: 400;
}

.energy img{
    border-radius: 50%;
    box-shadow: 1px 1px 2px #898989;
    height: 20px;
    width: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.separator {
    width: 85%;
    height: 2px;
    background: #898989;
    margin-top: 10px;
    margin-bottom: 3px;
}

.text p {
    font-size: 12px;
    font-style: italic;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.footer img{
    border-radius: 50%;
    box-shadow: 1px 1px 2px #898989;
    height: 18px;
    width: 18px;
}

.weakness, .resistance, .retreat {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.costs > p {
    font-size: 9px;
    font-weight: bold;
}

.cost-row {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.cost-row p {
    font-size: 16px;
    margin-left: 2px;
}        


.information {
    display: flex;
    font-size: 8px;
    justify-content: flex-end;
    margin: 8px 10px auto 10px;
}

.information div {
    width: 33%;
}

.information .manufacturer {
    text-align: center;
}

.collector-number {
    text-align: right;
}

/* POKEBOLA */


/* BARRA DE CARGA */
.cargador {
    position: fixed;
    z-index: 9999;
    left: 0px; top: 0px;
    width: 100%; height: 100%;
    background-color:#FFFFFF;
    background-image:url(../img/loading-3642573518.gif);
    background-repeat:no-repeat;
    background-position:50% 50%;
    opacity:1;
    }           

    /* DAR VUELTA A CARTA */

    /* .front, .back, .container {
        width: 320px;
        height: 480px;
      }
      
      .front, .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .front {
        z-index: 2;
        transform: rotateY(0deg);
        transition: all 0.3s linear;
      }
      
      .back {
        transition: all 0.3s linear;
        transform: rotateY(180deg);
      }
      
      .container {
        position: relative;
      }
      
      .container:hover .front {
        transform: rotateY(180deg);
      }
      
      .container:hover .back {
        transform: rotateY(360deg);
      } */